@model int[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ms-4">
    <div class="row col-md-12 ">
        <div class="row col-md-9">
            @{
                //var username = User.Identity.Name;
                var username = "Brian 4";
                var id = "bingo";
                @for (int i = 0; i < 75; i++)
                {
                    id = "bingo" + i;
                    <div id="@id" class="col-md-1 border text-center">
                        <a id="@id">@(i + 1)</a>
                    </div>
                }
            }
        </div>
        <div class="col-md-3">
            <div class="container">
                <input type="text" id="messageInput" />
                <input type="button" id="sendmessage" value="Send" />
                <ul id="discussion"></ul>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
<script type="text/javascript">

    var usrName = "Brian 4";
    //"User.Identity.Name";
    console.log("User: " + usrName);
    document.addEventListener('DOMContentLoaded', function () {

        var bingo = document.getElementsByClassName('bingo');

        //hubAddress = "https://localhost:7156/dvdcentralhub";
        hubAddress = "'https://fvtcdp.azurewebsites.net/BingoHub'";

        var connection = new signalR.HubConnectionBuilder()
            .withUrl('https://fvtcdp.azurewebsites.net/BingoHub')
            .build();
        // Create a function that the hub can call to broadcast messages.
        connection.on('receivemessage', function (name, message) {
            if (message == "newgame") {
                console.log("new game");
                for (var i = 0; i < 75; i++) {
                    var id = "bingo" + i;
                    //document.getElementById(id).innerHTML = (i+1)+":0";
                    document.getElementById(id).style.backgroundColor = 'lightblue';
                }
            }
            else {
                console.log(name + ": " + message);

                if (name == "Caller") {
                    var index = eval(message) - 1;
                    //document.getElementById('bingo' + index).innerHTML = message+":1";
                    document.getElementById('bingo' + index).style.backgroundColor = 'yellow';
                    console.log('Setting bingo' + message + ' to lightyellow');
                }

                var liElement = document.createElement('li');
                liElement.innerHTML = '<strong>' + name + '</strong>:&nbsp;&nbsp;' + message;
                document.getElementById('discussion').appendChild(liElement);
            }
        });

        // Transport fallback functionality is now built into start.
        connection.start()
            .then(function () {
                console.log('connection started');

                document.getElementById('sendmessage').addEventListener('click', function (event) {
                    // Call the Send method on the hub.
                    connection.invoke('sendmessage', usrName, messageInput.value);
                    //connection.invoke('sendmessagetogroup', "Room 2", name, messageInput.value);

                    // Clear text box and reset focus for next comment.
                    messageInput.value = '';
                    messageInput.focus();
                    event.preventDefault();
                });

                var elements = document.getElementsByClassName('bingo');
                for (var i = 0; i < elements.length; i++) {
                    gameValues = gameState.split('|');
                    if (gameValues[i] != 'E')
                        elements[i].style.backgroundColor = 'lightyellow';
                    else
                        elements[i].style.backgroundColor = 'lightblue';

                }

            })
            .catch(error => {
                console.error(error.message);
            });
    });
</script>



