
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Thank you for your order!</h1>
<h3 class="text-center">Please watch for an order confirmation in your email.</h3>

